html {
    font-size: 62.5%;
  }
  /* 1 Rem son 10 px*/

:root{
    font-family: 'Rubik', sans-serif;
    --menu-text: #4a4a4a;
    --background: #3CDBC0;
    --h1-text: #FFFFFF;
}

.link{
    text-decoration: none;
    color: var(--menu-text);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img{
    width: 155px;
    margin-top: 10px;
}

.nav{
    margin-top: 10px;
}

.header-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header-menu-item{
    margin-right: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    margin-top: 13px;
    display: flex;
    justify-content: center; 
}

.main-title{
    position: absolute;
    top: 40.96vh;
    left:10.94wv;
    font-size: 3rem;
    font-weight: 1000;
    line-height: 35px;
    letter-spacing: 1.5px;
    color: var(--h1-text);
    text-align: center;
    display: block;
    box-sizing: border-box;
    width: 25rem;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .header-img{
        margin-top: 20px;
        margin-left: 30px;
    }
    .item2{
        margin-right: 30px;
    }
    .main{
        margin-top: 20px;
    }
    .main-title{
        font-size: 4rem;
        line-height: 45px;
    }
    
}